/**
 * Styles for Realizations component
 */

.section--realizations .section__body {
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

@media (max-width: 1120px) {
    .section--realizations .section__body {
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .section--realizations .section__body {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .section--realizations .section__body {
        column-count: 1;
    }
}
