/**
 * Styles for Navigation component
 */

.navigation {
    @include flex-center-between;
    list-style: none;
    height: 50px;
    margin: 60px 0;

    &__col {
        display: flex;
        height: 100%;
    }

    &__mobile-menu-button {
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid var(--color-primary);
        padding: 15px;
        background: none;

        .icon {
            height: 100%;
        }
    }
}

@media (max-width: 900px) {
    .navigation {
        &__col--menu {
            display: none;
        }

        &__mobile-menu-button {
            display: block;
        }
    }
}
