/**
 * Styles for Home page
 */

.home .section {
    &--features {
        margin-top: 200px;

        .section__body {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fill, 300px);
        }
    }

    &--realizations {
        margin-top: 160px;
        margin-bottom: 120px;
        padding-right: 0;
    }
}

@media (max-width: 900px) {
    .home .section {
        &--features .section__body {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        &--realizations {
            padding-left: 0;
        }

        &--realizations .section__head {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media (max-width: 600px) {
    .home .section {
        &--features {
            margin-top: 150px;
        }

        &--realizations .section__head {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
