/**
 * Styles for AppLayout component
 */

.app-layout {
    max-width: 1440px;
    margin: auto auto 100px;

    nav,
    section,
    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}
