/**
 * Styles for AppLayout component
 */

.app-layout {
    max-width: var(--max-width);
    margin: auto auto 100px;

    nav,
    section,
    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 900px) {
    .app-layout {
        nav,
        section,
        footer {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media (max-width: 600px) {
    .app-layout {
        nav,
        section,
        footer {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
