/**
 * Styles for Hero component
 */

.hero {
    position: relative;

    .hero__content {
        padding-top: 130px;
        max-width: 650px;
    }

    &__buttons {
        margin-top: 30px;

        .button {
            margin-right: 10px;
            margin-top: 10px;
        }
    }

    .text--title {
        margin-bottom: 20px;
    }
}

//Variants
.hero.variant--homepage {
    .hero__objects {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .hero__objects .image {
        position: absolute;
    }

    .image--can {
        top: 0;
        right: 0;
        z-index: 3;
    }

    .image--circle {
        animation: 0.3s fade-in;
        top: -150px;
        right: 0;
        z-index: 1;
    }

    .image--grass {
        top: 300px;
        right: 300px;
        z-index: 2;
    }
}

@media (max-width: 900px) {
    .hero.variant--homepage {
        .hero__objects {
            filter: blur(10px);
            opacity: 0.2;
        }
    }
}

@media (max-width: 600px) {
    .hero {
        .button {
            width: 100%;
        }

        &__content {
            padding-top: 60px;
        }
    }
}
