/**
 * Styles for Icon component
 */

.icon {
    fill: var(--color-primary);
    transition: var(--fast-transition);
    width: 100%;
}

//Names
.icon.name {
    &--grass {
        transform: translateY(15px);
    }

    &--stones {
        transform: translateY(10px);
    }

    &--flower {
        transform: translateX(-10px);
    }
}
