/**
 * Styles for OurJobBoxes component
 */

.section--our-job {
    .section__body {
        padding-top: 80px;
        display: grid;
        column-gap: 30px;
        row-gap: 180px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
