/**
 * Base styles
 */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1d4d4f;
    --color-primary-rgb: 29, 77, 79;
    --color-secondary: #caffb9;
    --color-white: #ffffff;
    --color-grey: #f8f8f8;
    --max-width: 1440px;
    --family-montserrat: "Montserrat", sans-serif;
    --family-rubik: "Rubik", sans-serif;
    --large-radius: 20px;
    --fast-transition: all 0.1s ease-in-out;
}

body {
    background: var(--color-grey);
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body,
button,
input,
a {
    color: var(--color-primary);
    font-family: var(--family-montserrat);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}
