/**
 * Utils
 */

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin absolute-center {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@mixin absolute-center-x {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

@mixin absolute-center-y {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
