/**
* Styles for GardenGalleryItem component
*/

.gardens-gallery__item {
    transition: var(--fast-transition);
    animation: 0.3s fade-in;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &:hover &__more-info {
        opacity: 1;
    }

    &__more-info {
        opacity: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: var(--fast-transition);
        background: rgba(var(--color-primary-rgb), 0.8);
    }
}
