/**
 * Styles for GardenGallery component
 */

.gardens-gallery {
    line-height: 0;
    column-count: 4;
    column-gap: 0;

    &.loading {
        display: flex;
    }
}

@media (max-width: 1120px) {
    .gardens-gallery {
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .gardens-gallery {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .gardens-gallery {
        column-count: 1;
    }
}
